@page "/users"
@using BlazorWasmClient.Models
@using BlazorWasmClient.Models.ViewModels
@using BlazorWasmClient.Services
@inject NavigationManager NavManager
@inject IUserService UserService
@inject ILocalStorageService LocalStorageService

<PageTitle>Users</PageTitle>
@if (permissionList.Contains("read-user"))
{
    <div style="margin-left: 250px;">
        <MudTable Elevation="8"
              @ref="@_table"
              Items="@usersNew"
              RowsPerPage="8"
              Dense="false"
              Hover="true"
              Striped="true"
              Bordered="true"
              style="margin-top: 10px; padding-left: 50px; padding-right: 50px;">
            <ToolBarContent>
                <MudText Typo="Typo.subtitle2" Align="Align.Center" style="margin-top: 25px; margin-bottom: 30px; font-size: 36px;">Users</MudText>
                <MudSpacer></MudSpacer>
                <MudCardContent>
                    <MudForm>
                        <MudTextField @bind-Value="keyWord"
                                  T="string"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium"
                                  Class="mt-0"
                                  style="width: 300px; margin-left: auto; margin-right: 0;">
                        </MudTextField>
                    </MudForm>
                </MudCardContent>
                <MudCardActions>
                    <MudFab Color="Color.Secondary"
                        Icon="@Icons.Material.Filled.Edit"
                        Size="Size.Small"
                        IconSize="Size.Small"
                        Label="Search"
                        OnClick="OnInitializedAsync"
                        Class="ml-auto">
                    </MudFab>
                </MudCardActions>
            </ToolBarContent>
            <ColGroup>
                <col style="width: 5%;" />
                <col style="width: 13%;" />
                <col style="width: 20%;" />
                <col style="width: 7%;" />
                <col style="width: 13%;" />
                <col style="width: 13%;" />
                <col style="width: 12%;" />
                <col style="width: 17%;" />
            </ColGroup>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Username</MudTh>
                <MudTh>Password</MudTh>
                <MudTh>Active</MudTh>
                <MudTh>Created At</MudTh>
                <MudTh>Updated At</MudTh>
                <MudTh>Roles</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Username">@context.Username</MudTd>
                <MudTd style="word-break: break-all;" DataLabel="Password">@context.Password</MudTd>
                <MudTd DataLabel="Active">@context.Active</MudTd>
                <MudTd DataLabel="CreatedAt">@context.Created_At</MudTd>
                <MudTd DataLabel="UpdatedAt">@context.Updated_At</MudTd>
                <MudTd DataLabel="Roles">@context.Roles</MudTd>
                <MudTd DataLabel="">
                    @if (permissionList.Contains("write-user"))
                    {
                    <MudFab Color="Color.Primary"
                        Icon="@Icons.Material.Filled.Edit"
                        Size="Size.Small"
                        IconSize="Size.Small"
                        Label="Edit"
                        style="margin-right: 20px; margin-left: 20px;"
                        Class="ma-2"
                        @onclick="() => EditClick(context.Id)">
                    </MudFab>
                    }
                @if (permissionList.Contains("delete-user"))
                {
                    <MudFab Color="Color.Secondary"
                        Icon="@Icons.Material.Filled.Delete"
                        Size="Size.Small"
                        IconSize="Size.Small"
                        Label="Delete"
                        style="margin-right: 20px; margin-left: 20px;"
                        Class="ma-2"
                        @onclick="() => DeleteClick(context.Id)">
                    </MudFab>
                }
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudPagination Variant="Variant.Filled"
                           Size="Size.Large"
                           ShowFirstButton="true"
                           ShowLastButton="true"
                           SelectedChanged="PageChanged"
                           Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                           Class="pa-4"
                           style="margin-left: 550px;" />
        </PagerContent>
    </MudTable>
    </div>
    @if (permissionList.Contains("write-user"))
    {
        <div class="mt-6">
            <MudFab OnClick="AddClick"
                Color="Color.Secondary"
                Icon="@Icons.Material.Filled.Add"
                Size="Size.Large"
                IconSize="Size.Large"
                Label="Add User"
                Class="ma-2"
                style="position: absolute; right: 100px;" />
        </div>
    }
}

@code {
    private int _selected = 1;
    private List<UserGetModel> users;
    private List<UserReadVM> usersNew = new List<UserReadVM>();
    private MudTable<UserReadVM> _table;
    private string active = "";
    private string keyWord = "";
    private string sortCol = "";
    private string order = "";
    private string page = "";
    private string permissionList = "";

    protected override async Task OnInitializedAsync()
    {
        permissionList = await LocalStorageService.GetItem<string>("userPermissions");
        if (!permissionList.Contains("read-user"))
        {
            NavManager.NavigateTo("/login");
        }

        users = await UserService.GetUsers(active, keyWord, sortCol, order, page);

        foreach (var userEl in users)
        {
            usersNew.Add(new UserReadVM
                {
                    Id = userEl.Id,
                    Username = userEl.Username,
                    Password = userEl.Password,
                    Active = userEl.Active,
                    Created_At = userEl.Created_At,
                    Updated_At = userEl.Updated_At,
                    Roles = ""
                });
            string roleList = "";
            foreach (var roleNameEl in userEl.Roles)
            {
                roleList += roleNameEl + ", ";
            }
            usersNew.Last().Roles = roleList;
        }

    }

    private void PageChanged(int i)
    {
        _table.NavigateTo(i - 1);
    }

    private async Task AddClick()
    {
        NavManager.NavigateTo($"/users/add-user");
    }

    private async Task EditClick(int id)
    {
        NavManager.NavigateTo($"/users/edit-user/{id}");
    }

    private async Task DeleteClick(int id)
    {
        await UserService.DeleteUser(id);
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }
}
